<link rel="stylesheet" href="/static/style_delete.css" type="text/css">
{% block body %}

 {% if session.get('logged_in') %}
<form action="/delete" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>DELETE YOUR ACCOUNT!!!</h1>
			</div>
 
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
		 
                <input type="submit" value="DELETE" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>

  {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}

{% endif %}

{% endblock %}
