<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
 
<form action="/new_sensor" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Register New Sensor</h1>
			</div>
 
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="sensor_name" name="sensor_name">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
 
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="sensor_key" name="sensor_key">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
			<p> Click <a href ="/user_choice" >here</a> to go back</p>	
                <input type="submit" value="Register" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>

  {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}

{% endblock %}
