<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
 
 
<form action="/sensor_limit" method="POST">
	<div class="login">
		<div class="login-screen">
			
			<div class="app-title">
				<h1>WELCOME USER</h1>
				<h2>SET SENSOR LIMITS</h2>
			</div>
 
				<div class="login-form">
			
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
				
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="sensor_name" name="sensor_name">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="sensor_key" name="sensor_key">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
				
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="upper_limit" name="upper_limit">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="lower_limit" name="lower_limit">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
				<p>Click <a href="/user_choice">here</a> to go back</p>                
				<input type="submit" value="submit" class="btn btn-primary btn-large btn-block" >
			    <br>
				
			</div>
		</div>
	</div>
	
</form>

  {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}



{% endblock %}
